<%# { "layout":"/views/shared/page.html.ejs", "title":"Entry Page" } %>
    <div class="site-blog__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
                <h3>Welcome to MOST Web Framework</h3>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <div class="minilogo"></div>
                <div>
                    <strong>The Developer</strong>
                    <span>5 minutes ago</span>
                </div>
                <div class="section-spacer"></div>
                <div class="meta__favorites">
                    22 <i class="material-icons" role="presentation">favorite</i>
                    <span class="visuallyhidden">favorites</span>
                </div>
                <div>
                    <i class="material-icons" role="presentation">bookmark</i>
                    <span class="visuallyhidden">bookmark</span>
                </div>
                <div>
                    <i class="material-icons" role="presentation">share</i>
                    <span class="visuallyhidden">share</span>
                </div>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                <p>
                    No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye. Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham. No waiting in on enjoyed placing it inquiry.
                </p>
                <p>
                    Far concluded not his something extremity. Want four we face an he gate. On he of played he ladies answer little though nature. Blessing oh do pleasure as so formerly. Took four spot soon led size you. Outlived it received he material. Him yourself joy moderate off repeated laughter outweigh screened.
                </p>
                <p>
                    Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere happiness disposing household any old the. Widow downs you new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by daughters resembled unwilling principle so middleton. Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off.
                </p>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
                        <label for="comment" class="mdl-textfield__label">Join the discussion</label>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                    </button>
                </form>
                <div class="comment mdl-color-text--grey-700">
                    <header class="comment__header">
                        <div class="comment__avatar">
                            <i class="material-icons md-48">face</i>
                        </div>
                        <div class="comment__author">
                            <strong>Peter Henderson</strong>
                            <span>2 days ago</span>
                        </div>
                    </header>
                    <div class="comment__text">
                        Are sentiments apartments decisively the especially alteration. Thrown shy denote ten ladies though ask saw. Or by to he going think order event music. Incommode so intention defective at convinced.
                    </div>
                    <nav class="comment__actions">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
                        </button>
                    </nav>
                    <div class="comment__answers">
                        <div class="comment">
                            <header class="comment__header">
                                <div class="comment__avatar">
                                    <i class="material-icons md-48">face</i>
                                </div>
                                <div class="comment__author">
                                    <strong>Daniel Hammings</strong>
                                    <span>2 minutes ago</span>
                                </div>
                            </header>
                            <div class="comment__text">
                                When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr.
                            </div>
                            <nav class="comment__actions">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="site-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
            <a href="index.html" class="site-nav__button">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                    <i class="material-icons">arrow_back</i>
                </button>
                Newer
            </a>
            <div class="section-spacer"></div>
            <a href="/index.html" class="site-nav__button">
                Older
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                    <i class="material-icons">arrow_forward</i>
                </button>
            </a>
        </nav>
    </div>
