<%# { "layout":"/views/shared/landing.html.ejs", "title":"Home Page" } %>
<div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="javascript:void(0)">Welcome to MOST Web Framework</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
            <strong>The Administrator</strong>
            <span>5 minutes ago</span>
        </div>
    </div>
</div>
<nav class="site-nav mdl-cell mdl-cell--12-col">
    <div class="section-spacer"></div>
    <a href="/entry.html" class="site-nav__button" title="show more">
        More
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_forward</i>
        </button>
    </a>
</nav>